/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background: linear-gradient(to right, #DC271B, #E47712);
    height: 8vw;
    display: grid;
    grid-template-columns: 3fr 21fr 2fr 2fr;
}

header :last-child {margin-right: 1vw;}

.logo{
    margin-top: -1px;
    padding: 0;
    height: 8vw;
    width: auto ;
}

.searchNav{
    padding: 2vw 0;
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;

}

.headerIcon{
    font-size: 3vw;
    padding: 2vw 0;
    text-align: right;

}




/* Navegación */
nav{
    display: grid;
    grid-template-columns: 1fr 20fr 1fr 1fr 1fr 1fr;
}

/* Pie de página */
footer {
    
}
