/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background: linear-gradient(to right, #DC271B, #E47712);
    padding: 1rem;
    text-align: center;
    height: 4em;
}

header a{
    float: right;
    margin-left: 1%;
}

/* Navegación */
nav{
    float: right;
    margin: 0.5%;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Secciones */
.destacados, .ofertas {
    padding: 2rem;
    border-bottom: 1px solid #ddd;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
