/* styles.css */

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    right: 0;
}

/* Encabezado */
header {
    background: linear-gradient(to right, #DC271B, #E47712);
    height: 8vw;
    display: grid;
    grid-template-columns: 3fr 21fr 2fr 2fr;
    border-bottom: 10px;
    
}

header :last-child {margin-right: 1vw;}

.logo{
    margin-top: -1px;
    padding: 0;
    height: 8vw;
    width: auto ;
}

.searchNav{
    padding: 2vw 0;
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;

}

.headerIcon{
    font-size: 3vw;
    padding: 2vw 0;
    text-align: right;

}


/* Cuerpo */
#slogan{
    margin-left: 1%;
}

#banner{
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    height: 12vw;
}

#offers{
    display: grid;
    grid-template-columns: repeat(5, 19.2%);
    margin: 2%;
    margin-right: 2%;
}

#featured{
    border-style: solid;
    border-color: black;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    
}

#productsTitle{
    background-color: rgb(195, 194, 194);
    width: 20%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-top: 0%;
    height: 12vw;
}

#productsTitle h3{
    text-align: center;
}

#productsTitle button{
    color: white;
    background-color: #E47712;
}


/* Navegación */
nav{
    height: 4vw;
    font-size: 3vw;
    padding-top: 1vw;
    display: grid;
    grid-template-columns: 1fr 20fr 1fr 1fr 1fr 1fr;
    border-bottom: 0.1vw solid;
}

nav :first-child{padding-left: 1vw;}

/* Pie de página */
footer {
    left: 0;
    margin: 0;
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(5 , 20vw);
    border-top: 3px black solid;
}

footer a{
    text-decoration: none;
    color: black;
}

footer span{
    font-weight: bold;
}
footer select{
    width: 100px;
}

footer .porqueComprar{
    display: grid;
    grid-template-rows: repeat(7, 4vh);
}

footer .quienesSomos{
    display: grid;
    grid-template-rows: repeat(9, 4vh);
}

footer .contactar{
    display: grid;
    grid-template-rows: repeat(9, 4vh);
}

footer .otros{
    display: grid;
    grid-template-rows: repeat(9, 4vh);
}

footer .final{
    display: grid;
    grid-template-rows: repeat(9, 4vh);

}