/* Carrusel */
.carousel {
    background-color:  rgb(238, 238, 238);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5vh;
    height: 50vh;
    border: 1px solid black;
    border-radius: 1vh;
}
.carousel div{
    display: flex;
    gap: 5vw;
    padding: 1vw;
}

.slide {
    padding-bottom: 2vh;
    width: auto;
    height: 40vh;
}